<h3>Essai <i class="fa-solid fa-hashtag"></i> <%- id %> &mdash; pour <%- nom %></h3>
<p>Date : <%- date %></p>
<p>Score : <%- score %></p>
<% if (!finished) { %> <p class="text-danger">L'élève n'a pas terminé cet exercice.</p><% } %>