<h1><%- nom %></h1>

<p><strong>description :</strong> <%- description %></p>

<p><strong>Début :</strong> <%- dateDebut %></p>
<p><strong>Fin :</strong> <%- dateFin %></p>
<p><strong>Classe :</strong> <%- nomClasse %></p>
