<% if (showId) { %>}<td><span class="badge rounded-pill bg-primary"><%- id %></span></td><% } %>
<% if (showUser) { %><td><%- nomPrenomUser %></td><% } %>
<% if (showDevoir) { %><td><%- title %></td><% } %>
<td><%- note %></td>
<% if (showNomOwner) { %><td><%- nomOwner %></td>
<% if (showTimeleft) { %><td><%- timeleft %></td><% } %>
