<% if (showUser) { %><td><%- prenomUser %> <%- nomUser %></td><% } %>
<% if (showDevoir) { %><td><%- nom %></td><% } %>
<td><%- note %></td>
<% if (showNomOwner) { %><td><%- nomOwner %></td><% } %>
<% if (showTimeLeft) { %><td><%- timeLeft %></td><% } %>
