<h1>Bienvenue !</h1>
<p>Ce site propose des exercices de mathématiques générés automatiquement afin de vous entraîner et de vous aider à progresser. Si vous n'avez pas encore de compte, vous pouvez <a href="#classes/signin">rejoindre une classe</a>.</p>
<hr class="my-4">

<p><a class="btn btn-success" href="#login" role="button">Connectez-vous</a></p>
