<thead>
  <tr>
    <th><i class="fa-solid fa-hashtag"></i></th>
    <th>Nom</th><% if (showProfName) {%>
    <th><i class="fa-solid fa-chalkboard-user"></i></th><% } %>
    <th><i class="fa-solid fa-door-open"></i></th>
    <th><i class="fa-solid fa-clock"></i></th>
    <th><i class="fa-solid fa-skull"></i></th>
    <th width="100"></th>
  </tr>
</thead>
<tbody>
</tbody>
