<form id="filter-form" class="form-search form-inline" style="margin-bottom: 10px;">
  <div class="input-group">
    <span class="input-group-btn">
      <%if (showAddButton){ %><a href="#classe/new" class="btn btn-outline-primary js-new" type="button">Nouvelle classe <% if (addToProf) {%>pour <b><%-addToProf%></b> <% } %><i class="fa fa-graduation-cap"></i></a><% } %>
    </span>
  </div>
</form>
