<h3>
    <%if (showId) { %><span class="badge rounded-pill bg-primary"><%= id %></span> <% } %>
    <%= title %>
    <% if (showModButton) { %>
    <a href="#sujet-exercice:<%- id %>/edit" class="btn btn-success btn-sm" role="button"><i class="fa fa-pencil" title="Modifier"></i> Modifier</a>
    <% } %>
</h3>

<p><%- description %></p>
<p class="text-muted"><small><i class="fa-solid fa-user"></i> <em><%- nomOwner %></em></small></p>

<div class="js-exercice"></div>