<h1><%= title %></h1>
<% if (description) { %>
    <p><%= description %></p>
<% } %>

<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-12">
        <label for="class-pwd" class="form-label">Mot de passe pour entrer dans la classe</label>
        <input type="password" class="form-control" id="class-pwd" name="classeMdp" value="" placeholder="Fourni par votre professeur">
    </div>

    <button class="btn btn-success js-submit">Enregistrer</button>
</form>
