<h1><%- nom %></h1>

<p><strong>description :</strong> <%- description %></p>

<p><strong>Début :</strong> <%- dateDebut %></p>
<p><strong>Fin :</strong> <%- dateFin %></p>
<p><strong>Classe :</strong> <%- nomClasse %></p>

<div class="btn-group" role="group">
<a href="#devoir:<%- id %>/edit" class="btn btn-success" role="button"><i class="fa-solid fa-pen-to-square"></i> Modifier</a>
</div>
