<div class="mb-3 js-devoir"></div>

<div class="mb-3">
  <a href="#devoir:<%- id %>/edit" class="btn btn-success w-100" role="button"><i class="fa-solid fa-pen-to-square"></i> Modifier</a>
</div>

<div class="mb-3 js-assocs"></div>
<div class="mb-3 js-exercices">
  <a href="#devoir:<%- id %>/addexo" class="btn btn-success w-100" role="button"><i class="fa-solid fa-pen-to-square"></i> Ajouter un exercice</a>
</div>