<div class="mb-3">
<svg 
    xmlns="http://www.w3.org/2000/svg" 
    class="tkztab-svg"
    viewBox="0 0 800 600"
    preserveAspectRatio="xMidYMid meet"
    style="width: 100%; max-width:540px;"
>
    <g class="tkztab-content"></g>
</svg>
<div class="js-complement"></div>
<%if (showButtonHelp) { %><p class="text-secondary">Appuyez sur les boutons roses pour changer leur position.</p> <% } %>
</div>