<div class="mb-3">
<svg 
    xmlns="http://www.w3.org/2000/svg" 
    class="tkztab-svg"
    viewBox="0 0 800 600"
    preserveAspectRatio="xMidYMid meet"
    style="width: 100%;"
>
    <g class="tkztab-content"></g>
</svg>
<div class="js-complement"></div>
</div>