<form id="filter-form" class="form-search form-inline" style="margin-bottom: 10px;">
    <div class="input-group">
        <% if (showAddButton) {%><a href="#user/new" class="btn btn-outline-primary js-new" type="button"><i class="fa fa-user-plus" aria-hidden="true"></i></a><% } %>
        <input type="text" class="form-control search-query js-filter-criterion" placeholder="Filtrer..." value="<%- filterCriterion %>">
        <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i></button>
    </div>
</form>
<% if (typeof effectif !== 'undefined') { %>
    <div class="text-end"><%- effectif %> élèves dans la classe</div>
<% } %>

