<form id="filter-form" class="form-search form-inline" style="margin-bottom: 10px;">
  <div class="input-group">
    <span class="input-group-btn">
      <% if (showAddButton) { %><a class="btn btn-outline-primary" href="#devoirs/nouveau" role="button">Nouveau devoir <i class="fa-solid fa-pen-to-square"></i></a><% } %>
    </span>
  </div>
</form>
