<form id="filter-form" class="form-search form-inline" style="margin-bottom: 10px;">
    <div class="btn-group">
        <% if (showAddButton && !archives) { %><a class="btn btn-outline-primary" href="#devoirs/nouveau" role="button">Nouveau devoir <i class="fa-solid fa-pen-to-square"></i></a><% } %>
        <% if (archives) { %><a class="btn btn-outline-primary" href="#devoirs" role="button">Devoirs non archivés</a><% } %>
        <% if (!archives) { %><a class="btn btn-outline-primary" href="#devoirs/archives" role="button">Devoirs archivés</a><% } %>
    </div>
</form>
