<h5 class="list-group-item-heading">
    <span class="badge rounded-pill bg-primary"><%- id %></span>
    <% if (!finished) {%><i class="fa-solid fa-person-running"></i><% } %>
    Essai du <%- date %> Score : <%- score %>
</h5>